@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "All Users";
}

<h1>Users</h1>

<p>
    <a class="btn btn-success text-white" asp-action="AddUser" accesskey="n"><i class="fas fa-plus-square"></i>&nbsp;Add <u>N</u>ew User</a>
</p>

<form asp-controller="User" asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Search users" />

            <button class="btn btn-primary text-white" type="submit" accesskey="s">
                <i class="fas fa-search"></i> Search</button>

            <a class="btn btn-secondary text-white" asp-action="Index" accesskey="b">
                <i class="fas fa-hand-point-left"></i> <u>B</u>ack to list
            </a>
        </p>
    </div>
</form>

@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No User Accounts</td></tr>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>User ID</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">User Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortParm"]">Email</a>
            </th>
            <th>Actions</th>
        </tr>
        @foreach (ApplicationUser user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary text-white" asp-action="EditUser" asp-route-id="@user.Id"><i class="fas fa-edit"></i></a>&nbsp;                       
                        <a class="btn btn-danger text-white" asp-action="DeleteUser" asp-route-id="@user.Id"><i class="fas fa-trash-alt"></i></a>&nbsp;
                    </div>
                </td>
            </tr>
        }
    </table>
}