@using WebStore.Core.Constants
@model EditUserViewModel

<h2>Edit user</h2>

<div class="col-md-12">
    <form asp-controller="Admin" asp-action="EditUser" method="post" class="form-horizontal" role="form">
        <h4>You can change the user details below</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Id"></label>
            </div>
            <div class="col-5">
                <input asp-for="Id" class="form-control" readonly="readonly" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="UserName"></label>
            </div>
            <div class="col-5">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Email"></label>
            </div>
            <div class="col-5">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Birthdate"></label>
            </div>
            <div class="col-5">
                <input asp-for="Birthdate" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="City"></label>
            </div>
            <div class="col-5">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Country"></label>
            </div>
            <div class="col-5">
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">Management role</div>
            <div class="col-5">
                <input type="radio" name="rdUserRole" value="@AuthorizationConstants.Roles.ADMINISTRATORS" /> @AuthorizationConstants.Roles.ADMINISTRATORS
                <input type="radio" name="rdUserRole" value="@AuthorizationConstants.Roles.MANAGERS" /> @AuthorizationConstants.Roles.MANAGERS
                <input type="radio" name="rdUserRole" value="@AuthorizationConstants.Roles.USERS" /> @AuthorizationConstants.Roles.USERS
            </div>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-3">
                <input type="submit" class="btn btn-primary" value="Save user" />
                <a asp-action="UserManagement" class="btn btn-primary">Cancel</a>
            </div>
        </div>

    </form>
</div>
